<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-UIWebViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC88D73D1CBF7C8600134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88D7591CBF7C8600134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88D7641CBF7C8600134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
